@define-color white rgba(255, 255, 255, 0.8);
@define-color black rgba(0, 0, 0, 0.8);
@define-color background rgba(0, 0, 0, 0.2);

* {
  border: none;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: @background;
  color: @white;
}

#workspaces button {
  color: @white;
}

#workspaces button.active {
  color: @black;
  background-color: @white;
  transition: all .5s ease;
  border-radius: 4px;
  padding: 0 16px;
}

#battery {
  font-size: 24px;
}

#clock {
  margin: 0 8px 0 0;
}
